
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <span class="navbar-brand">Welcome!</span>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/translate"><i class="fa fa-edit"></i>&nbsp;Translate</a></li>
            <li><a href="/dotest"><i class="fa fa-tachometer"></i>&nbsp;Test Knowledge</a></li>
            <li><a href="/dobacktest"><i class="fa fa-tachometer"></i>&nbsp;Back Test</a></li>
        </ul>

    </div>
</nav>